
    
                                <!---------- Step: Draw polygon ---------->
                                <div class="row"  id ="step4NotFirstAnswer" style = "display:none;">
    
                                    <div class="col-sm-12 step4 border-around" style="margin-top: 30px;">
    
                                        <table class="ansChoices table table-condensed" >
                                            <thead>
                                            <tr>
                                                <th colspan="4" class="text-center" style="">
                                                    <h4 style="font-weight: bold; margin: 2px auto">

                                                        Step 3: Is the answer "<span id = "step4questionnotfirst" style="color: blue;"></span>" already located in one of the previously drawn region? 
                                                    
                                                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"  data-placement="top" data-content="Please see step 3's instructions and examples."></a>
                                                        
    
                                                    
                                                    
                                                    </h4>
                             
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <!-- Col 1 -->
                                                    <td style="width: 50%; padding-left: 0px">
    
                                                        <div class="radio ans_choice pull-left">
                                                            <label>
                                                                <input id = "LocatedSelectGroup" name="SELECT_GROUP" type="radio" value="Y" class="Step4">
                                                                <strong>YES:</strong>
                                                                It is already located. It is in the same location as: 
                                                            </label>
                                                                <br>
                                                                
                                                                <ul id="Groupsul"></ul>
                                                        </div>
                                                        <div class="radio ans_choice pull-left">
                                                            <label>
                                                                <input id="NotLocatedYet" name="SELECT_GROUP" type="radio" value="N" class="Step4">
                                                                <strong>NO:</strong>
                                                                It is not located. Draw polygon(s) to locate the region that the answer is referring to by clicking on the image.                                                           </label>
                                                        </div>
                                                    </td>
    
                                                </tr>
                                            </tbody>
                                        </table>
    
                                        <p style="text-align: center; font-weight: bold;
                                        margin: 10px 0px; font-size: 18px;">
                                        </p>
    
    
    
    

    
                                    </div>
                                </div> <!---------- Step: Draw polygon ---------->    
                                <!---------- Step: Draw polygon ---------->
                                <div class="row" id ="step4FirstAnswer">
    
                                    <div class="col-sm-12 step4 border-around" style="margin-top: 30px;">
    
                                        <table class="ansChoices table table-condensed" >
                                            <thead>
                                            <tr>
                                                <th colspan="4" class="text-center" style="">
                                                    <h4 style="font-weight: bold; margin: 2px auto">
                                                        Step 3: Draw one polygon to locate the region that the answer "<span id = "step4questionfirst" style="color: blue;"></span>" is referring to by clicking on the image. 
                                                    
                                                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"  data-placement="top" data-content="Please see step 3's instructions and examples."></a>
                                                        
    
                                                    
                                                    
                                                    </h4>
                             
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
    
                                        <p style="text-align: center; font-weight: bold;
                                        margin: 10px 0px; font-size: 18px;">
                                        </p>
    
    
    
    
    
                                    </div>
                                </div> <!---------- Step: Draw polygon ---------->
