<div class="row">
    
    <div class="col-sm-12 step3 quality_issues border-around" style="margin-top: 30px;">

        <table class="ansChoices table table-condensed" style="">
            <thead>
            <tr>
                <th colspan="4" class="text-center" style="">
                    <h4 style="font-weight: bold; margin: 2px auto" >
                        Step 2:  How many polygons are needed to locate the region that the answer "<span id = "step3question" style="color: blue;"></span>"  is referring to?   
                        <a class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"  data-placement="top" data-content="
                        Please see step 2's instructions and examples"></a>
                    </h4>
                    

                </th>
            </tr>
            </thead>


            <tbody>

                <tr>

                    <td >
                        <div class="radio ans_choice pull-left">
                            <label>
                                <input name="MULTI_FOCUS_DETECT" id="zero_polygon"  value="CANNOT_DRAW" type="radio" class="Step3">
                                <strong>Zero: </strong>No polygon is needed.
                            </label>
                        </div>
                    <!-- Col 2 -->
                    

                        <div class="radio ans_choice pull-left">
                            <label>
                                <input name="MULTI_FOCUS_DETECT" id="one_polygon" type="radio" value="N" class="Step3">
                                <strong>One: </strong>
                                Just one polygon is needed.
                            </label>
                        </div>


                                        <!-- Col 1 -->
                    <!-- <td style="width: 50%; padding-left: 0px"> -->
                        <div class="radio ans_choice pull-left">
                            <label>
                                <input name="MULTI_FOCUS_DETECT" id="multi_polygon" type="radio" value="Y" class="Step3">
                                <strong>More than one:</strong>
                                Multiple polygons are needed.
                            </label>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>



        </table>


    </div>
</div> <!---------- Step: Multi-focus ---------->