
                                        <div style="width: auto; height:auto;;border:1px solid #000; margin:10px 20px;padding:8px;">Group 1 <ul id="box1drawul"></ul></div>
                                        <div style="width: auto; height:auto;;border:1px solid #000; margin:10px 20px;padding:8px;">Group 2 <ul id="box2drawul"></ul></div>
                                        
                                        <div style="width: auto; height:auto;;border:1px solid #000; margin:10px 20px;padding:8px;">Group 3 <ul id="box3drawul"></ul></div>
                                        
                                        <div style="width: auto; height:auto;;border:1px solid #000; margin:10px 20px;padding:8px;">Group 4 <ul id="box4drawul"></ul></div>