
                        <!----------- all tasks column ----------->
                        <div class="col-sm-4 col-md-6">
                                <!----------  Step: Visual Grounding ------------>
                                <div class="col-lg-12">
                                    <h4 style="
                                        text-align: left;
                                        font-weight: bold;
                                        padding: 5px;
                                        margin: 0px 0px;
                                    ">
                                    Please read the question and answer about the image shown on the left. Then complete the 3 steps below.
                                    </h4>
                                    <h4 style="
                                    text-align: left;
                                    font-weight: bold;
                                    padding: 5px;
                                    margin: 0px 0px;
                                    color:red;
                                ">
                                We review the results. If you do not follow the instructions, your work may be rejected.
                                </h4>
                                <!-- </div> -->
    
                                </div><!----------  Step: Visual Grounding ------------>
    
                                {% include 'Steps/step1.html'%}
                                {% include 'Steps/step2.html'%}
                                {% include 'Steps/step3.html'%}
                                {% include 'Steps/step4.html'%}
                    </div>
                    <!--- end all tasks column --->
    