<!-- <p> If the answer is located in previous group, select the group:answer is referring to is <strong>not shown</strong> in the image (Example 1 & Example 2 & Example 3 & Example 5 & Example 6 & Example 7), please select "cannot draw" and indicate the reason for why you cannot draw it.<br> -->
</p>

<p> Each of the answers below has their own unique region.
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
            
                <div class="thumbnail">
                <p><strong>Question: </strong> What does it say?
                <br>
                <strong>Answer: </strong> How to unpack your mattress topper como desembalar su colchoncillo. </p>
    
                <img src="static/images/instructions1.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Region 1</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <!-- <p> Reason: Pillow is <strong>not shown</strong> in the image.</p> -->
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> What does it say?
                    <br>
                    <strong>Answer: </strong>Como desembalar su colchoncillo. </p>
                    
                <img src="static/images/instructions2.png" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Region 2</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <!-- <p> Reason: The answer about the author "Bill Gates" is <strong>not shown </strong>in the image.
                        <br>
                        <br>Notice: Please do NOT draw the boundary of the book. While a person may infer the answer by the title of the book, that would require additional information out of the image. </p> -->
                </div>
                </div>
            </div>


        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> What does it say?
                <br>
                <strong>Answer: </strong> How to unpack your mattress. </p>
    
                <img src="static/images/instructions3.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Region 3  </span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> The answer "how to unpack your mattress" is referring to a region that is different from region 1 and region 2. Thus, draw a new polygon.  </p>
                </div>
                </div>
            </div>
</div>  



