<p>  
    Just one polygon is needed. This is the situation when the answer is referring to a <strong>single region</strong> (Example 1 & Example 2 & Example 3) or multiple <strong>connected </strong>regions (Example 4). 


<br>

<br>
</p>
<div class="row">

    <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                                    
                <p><strong>Question: </strong> What is this?
                <br>
                <strong>Answer: </strong> Bath tissue. </p>
                
            <img src="static/images/tissue.png" alt="...">
            <div class="caption">
                    <h4>
                        <span class ="green">Example 1:  Just one polygon is needed</span>
                            <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                    
                        </h4>
                <p> Explanation: Just <strong>one polygon</strong> is needed to locate the "bath tissue" region. </p>
            </div>
            </div>
        </div>


            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> Is it wine?
                <br>
                <strong>Answer: </strong> No. </p>
    
                <img src="static/images/wineornot.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 2:<br>  Just one polygon is needed</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p>  Please draw the boundary of the milk as the question asks about "it" (the answer is referring to "it") and "it" exists in the image.  </p>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                    <p><strong>Question: </strong> What is in this box?
                        <br>
                        <strong>Answer: </strong> iPhone </p>
                <img src="static/images/iphone.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 3:  Just one polygon is needed</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p>  Please draw the boundary of the text "iPhone" as it indicating iPhone is in this box.  </p>
                </div>
                </div>
            </div>

        
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> How many candies are there?
                    <br>
                    <strong>Answer: </strong> 4 </p>
                    
                <img src="static/images/candy.png" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 4:  Just one polygon is needed</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Explanation: Just <strong>one polygon</strong> is needed as the answer is referring to 4 <strong>connected</strong> candy regions.</p>
                </div>
                </div>
            </div>