<!-- <p> If the answer is located in previous group, select the group:answer is referring to is <strong>not shown</strong> in the image (Example 1 & Example 2 & Example 3 & Example 5 & Example 6 & Example 7), please select "cannot draw" and indicate the reason for why you cannot draw it.<br> -->
</p>

<p>Example: <br>You have drawn regions (region 1, region 2, and region 3) for three answers. <br>
You are asked "Is the answer 'Screen monitor' already located in a previously drawn region?"  <br>
Please select "Yes: It is already located. It is in the same region as region 3: monitor."</p>
<br>
<br>
<strong>Note</strong>: if you hover your mouse over the previously located answer,  you can see the previously drawn region overlap on the image.

<div class="row">
    
        <div class="col-sm-6 col-md-3">
            
                <div class="thumbnail">
                <p><strong>Question: </strong> What is this?
                <br>
                <strong>Answer: </strong> Mouse. </p>
    
                <img src="static/images/mouse.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Region 1</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <!-- <p> Reason: Pillow is <strong>not shown</strong> in the image.</p> -->
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> What is this?
                    <br>
                    <strong>Answer: </strong> Clock. </p>
                    
                <img src="static/images/clock.png" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Region 2</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <!-- <p> Reason: The answer about the author "Bill Gates" is <strong>not shown </strong>in the image.
                        <br>
                        <br>Notice: Please do NOT draw the boundary of the book. While a person may infer the answer by the title of the book, that would require additional information out of the image. </p> -->
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                        <p><strong>Question: </strong> What is this?
                        <br>
                        <strong>Answer: </strong> Monitor. </p>
                        
                    <img src="static/images/monitor.png" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Region 3<span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <!-- <p> Reason: <strong>Nothing</strong> is on the chair. 
                            <br><br>Notice: Please do NOT draw the boundary of the chair. The chair in the question is a relevant object, but the answer is not referring to the chair.</p> -->
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> What is this?
                <br>
                <strong>Answer: </strong> Screen monitor. </p>
    
                <img src="static/images/islocated.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Yes: it is already located in a previously drawn region. It is in the same location as region 3.</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p>  The answer is located in previously drawn region because "Monitor" and "Screen Monitor" are referring to the same region. Please select region 3.  </p>
                </div>
                </div>
            </div>
</div>  



