<p>  
    Select "Yes" when the answer is correct (Example 1 & Example 2).
   
<br> Select "No" when the answer is incorrect (Example 3 & Example 4).

</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> What is my cat doing? 
                <br>
                <strong>Answer: </strong> Putting the paw in the cup.  </p>
    
                <img src="static/images/cat.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 1: Yes</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Explanation: The answer is <strong>correct</strong> as the cat is dipping water by putting her paw in the cup.</p>       </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> Which one is assembled correctly? Left or right?
                    <br>
                    <strong>Answer: </strong> Right </p>
                    
                <img src="static/images/liberty.png" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 2: Yes </span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Explanation: The answer is <strong>correct</strong> as the right one is assembled correctly. The lady liberty holds a torch in her right hand.  </p>
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                        <p><strong>Question: </strong> Is this product for men or women?
                        <br>
                        <strong>Answer: </strong> men </p>
                        
                    <img src="static/images/woman.jpg" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="red">Example 3: No</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Explanation: The answer is <strong>incorrect</strong> as the product description writes "WOMEN'S PREMIUM GUMMIES." Thus, the correct answer is "women."</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> How many fridge magnets are there?
                <br>
                <strong>Answer: </strong> 2 </p>
    
                <img src="static/images/texas.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="red">Example 4: No</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Explanation: The answer is <strong>incorrect</strong> as there are three fridge magnets. There are two magnets visible and one magent partly visible (shown in the lower area of ​​the image). </p>
                </div>
                </div>
            </div>

    
       
       
</div>


