<p>      If (the property of) the object that the answer is referring to is <strong>
    not shown</strong> in the image (Example 1 & Example 2 & Example 3 & Example 4 &
     Example 5), please select "Zero: No polygon is needed".<br>
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> Any pillow here?
                <br>
                <strong>Answer: </strong> No </p>
    
                <img src="static/images/pillow.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 1: <br> No polygon is needed</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Reason: Pillow is <strong>not shown</strong> in the image.</p>
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> Who is the author?
                    <br>
                    <strong>Answer: </strong> Bill Gates </p>
                    
                <img src="static/images/EK.jpg" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 2: <br> No polygon is needed</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Reason: The answer about the author "Bill Gates" is <strong>not shown </strong>in the image.
                        <br>
                        <br>Notice: Please do NOT draw the boundary of the book. While a person may infer the answer by the title of the book, that would require additional information out of the image. </p>
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                        <p><strong>Question: </strong> What is on the chair?
                        <br>
                        <strong>Answer: </strong> nothing </p>
                        
                    <img src="static/images/multi_question2.jpg" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Example 3: <br>  No polygon is needed</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Reason: <strong>Nothing</strong> is on the chair. 
                            <br><br>Notice: Please do NOT draw the boundary of the chair. The chair in the question is a relevant object, but the answer is not referring to the chair.</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->

</div>  
<p>Please also select "Zero: No polygon is needed" when:</p>
<p>      (1) the text that the answer is referring to is <strong>partially visible/cut off</strong> in the image (Example 4).<br>
</p>
<p>      (2)  <strong>no cue </strong>indicating the provided answer (Example 5).<br>
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> What is the brand?
                <br>
                <strong>Answer: </strong> Skin Vape </p>
    
                <img src="static/images/partiallyTEXT.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 4:  No polygon is needed</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Reason: "Skin Vape" is <strong>not shown</strong> in the image. "Skin Vape" is <strong>partially visible</strong> in the image. More information is needed.</p>
                </div>
                </div>
            </div>



            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                    <p><strong>Question: </strong> What is in this bottle?
                        <br>
                        <strong>Answer: </strong> Coffee</p>
                        
                    <img src="static/images/coffee.jpg" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Example 5: Zero-No polygon is needed</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Reason: Coffee is <strong>not shown</strong> in the image. <strong>Cannot see any cues</strong> indicating there is coffee in this bottle.</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->

</div>  



