<p>  

</p>
<div class="row">

    


        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                
            <p><strong>Question: </strong> How many coins are there?
            <br>
            <strong>Answer: </strong> 4. </p>

            <img src="static/images/coins2.jpg" alt="...">
            <div class="caption">
                <h4>
                    
                    <span class ="green">Example 1: Multiple polygons are needed</span>
                        <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                    
                    </h4>
                    <p> Explanation: <strong>More than one polygon</strong> is needed as the answer is referring to 4 <strong>disconnected</strong> coin regions. </p>
            </div>
            </div>
        </div>


   
   
</div>


